<app-card1 [cardIconModifier]="'icon-add'" [cardTitle]="title" [cardIconClass]="'bi bi-journal-plus'"
    [cardFooterModifier]="'card__footer'">
    <div class="cardBody">
        <form class="needs-validation" (ngSubmit)="onSubmit()" novalidate [formGroup]="formAula" id="form">
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field>
                        <mat-label for="nome">Nome</mat-label>
                        <input type="text" matInput id="nome" formControlName="nome" placeholder="nome do aula ">
                        <mat-error *ngIf="hasError('nome') && !hasError('required')">
                            O nome da aula é obrigatório!
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field>
                        <mat-label for="youtubeUrl">URL</mat-label>
                        <span matPrefix>https://www.youtube.com/</span>
                        <input type="text" matInput id="youtubeUrl" formControlName="youtubeUrl">
                        <mat-error *ngIf="hasError('youtubeUrl') && !hasError('required')">
                            A url do vídeo é obrigatório!
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <mat-form-field>
                <mat-label>Selecione o materia</mat-label>
                <mat-select id="cursos" formControlName="materia_id">
                  <mat-option *ngFor="let item of materias" [value]="item.id">
                    {{item.nome}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="hasError('materia_id') && !hasError('required')">
                  A escolha da materia é obrigatório!
                </mat-error>
              </mat-form-field>
                
              <div class="row">
                <div class="col-md-12">
                  <mat-toolbar>
                    <span>Novas atividades</span>
                    <button type="button" mat-icon-button color="accent" (click)="addAtividade()">
                      <i class="bi bi-plus-lg"></i>
                    </button>
                  </mat-toolbar>
                  <div formArrayName="atividades">
                    <div *ngFor="let atividade of getAtividadesFormArray(); let i = index">
                      <mat-accordion>
                        <mat-expansion-panel>
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              Atividade {{i + 1}}
                              <div class="col-md-1">
                                <button type="button" mat-icon-button color="warn" (click)="removeLesson(i)">
                                  <i class="bi bi-trash-fill"></i>
                                </button>
                              </div>
                            </mat-panel-title>
                            <mat-panel-description>
                            </mat-panel-description>
                          </mat-expansion-panel-header>
        
        
                          <div [formGroupName]="i">
                            <div class="row">
                              <div class="col-md-12">
                                <mat-form-field>
                                  <span matPrefix>{{i + 1}}: &nbsp;</span>
                                  <mat-label for="pergunta">Pergunta</mat-label>
                                  <input type="text" matInput id="pergunta{{i}}" formControlName="pergunta">
                                  <mat-error *ngIf="hasError('atividades.'+ i +'.pergunta') && !hasError('required')">
                                    O texto da pergunta é obrigatória!
                                  </mat-error>
                                </mat-form-field>
                              </div>
                            </div>
                        
                            <div formArrayName="alternativas">
                              <div *ngFor="let alternativa of getAlternativasFormArray(i); let j = index">
                                <div [formGroupName]="j">
                                  <div class="row">
                                    <div class="col-md-8">
                                      <mat-form-field>
                                        <span matPrefix>{{j | indexToLetter}}: &nbsp;</span>
                                        <mat-label>Alternativa</mat-label>
                                        <input type="text" matInput formControlName="texto">
                                        <mat-error *ngIf="hasError('atividades.' + i + '.alternativas.' + j + '.texto') && !hasError('required')">
                                          O texto da alternativa é obrigatório!
                                        </mat-error>
                                      </mat-form-field>
                                    </div>
                                    <div class="col-md-1 center_center">
                                        <input id="alternativaCorreta" type="checkbox"
                                          formControlName="alternativaCorreta" />Correta
                                      </div>
                                    <div class="col-md-1">
                                      <button type="button" mat-icon-button color="warn" (click)="removeAtividade(i, j)">
                                        <i class="bi bi-trash-fill"></i>
                                      </button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- <span>Adicionar alternativa</span> -->
                            <button mat-button type="button" id="meuBotao" (click)="addAlternativa(i)">Adicionar alternativa &nbsp;<i
                                class="bi bi-plus-lg"></i></button>
        
                          </div>
                        </mat-expansion-panel>
                      </mat-accordion>
                    </div>
                  </div>
                </div>
              </div>
              
              
            </form>
        </div>
        <div class="cardFooter">
            <div>
              <button type="submit" class="btn btn-red" form="form">Salvar</button>
              <button type="button" class="btn" (click)="onCancel()">Cancelar</button>
            </div>
          </div>

</app-card1>