
// .oi {
//  display: flex;
//  flex-direction: column;
// }

table {
    width: 100%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}

th {
    font-weight: bolder;
    font-size: 15px;
    }