<div class="spaccing">

    <div class="map-mundial card ">
        <div class="card_title">
            <div class="card_header icon-mundo">
                <!-- <img src="assets/images/mundo.png" alt=""> -->
                <img src="assets/images1/code.svg" alt="">
            </div>
            <p>Frameworks</p>
        </div>
        <div class="card_body">

            <div class="row">

                <div class="col-md-6">
                    <div class="list-paises">
                        <table class="table">
                            <tbody>
                                <tr *ngFor="let curso of cursos">
                                    <td>
                                        <div class="img-bandeira">
                                            <img src="assets/images1/{{curso.icone}}.svg" alt="">
                                        </div>
                                    </td>
                                    <td>{{curso.nome}}</td>
                                    <td>{{curso.numero}}</td>
                                    <td>{{curso.porcentagem}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-6  world-map">
                    <!-- <img src="assets/images1/computer.jpg" alt=""> -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row spaccing">
    <div class="cards w-md-4">
        <div class="card">
            <div class="card_image">
                <img src="assets/images/4.jpg" alt="">
            </div>
            <div class="card_body">
                <div class="card_actions">
                    <i class="bi bi-arrow-clockwise info"></i>
                    <i class="bi bi-pencil-fill normal"></i>
                </div>
                <h3>Visualização</h3>
                <p>Atual perfomance da campanha.</p>
            </div>
            <div class="card_footer">
                <i class="bi bi-stopwatch"></i>
                <p>Campanha enviada há 2 dias.</p>
            </div>
        </div>
    </div>
    <div class="cards w-md-4">
        <div class="card">
            <div class="card_image">
                <img src="assets/images/2.jpg" alt="">
            </div>
            <div class="card_body">
                <div class="card_actions">
                    <i class="bi bi-arrow-clockwise info"></i>
                    <i class="bi bi-pencil-fill normal"></i>
                </div>
                <h3>Vendas diárias</h3>
                <div class="card_category">
                    <i class="bi bi-arrow-up success">55%</i>
                    <p>Aumento nas vendas.</p>
                </div>
            </div>
            <div class="card_footer">
                <i class="bi bi-stopwatch"></i>
                <p>Campanha enviada há 4 minutos.</p>
            </div>
        </div>
    </div>
    <div class="cards w-md-4">
        <div class="card">
            <div class="card_image">
                <img src="assets/images/3.jpg" alt="">
            </div>
            <div class="card_body">
                <div class="card_actions">
                    <i class="bi bi-arrow-clockwise info"></i>
                    <i class="bi bi-pencil-fill normal"></i>
                </div>
                <h3>Tarefas completas</h3>
                <p>Atual perfomance da campanha.</p>
            </div>
            <div class="card_footer">
                <i class="bi bi-stopwatch"></i>
                <p>Campanha enviada há 2 dias.</p>
            </div>
        </div>
    </div>
</div>

<div class="row card_icon spaccing">
    <h1></h1>
    <div class="cards col-md-3">
        <div class="card">
            <div class="card_title">
                <div class="card_header icon-sofa">
                    <img src="assets/images1/education.svg" alt="">
                </div>
                <div class="card_status">
                    <p class="card_name">Inscrições</p>
                    <p class="card_stats">184</p>
                </div>
            </div>
            <div class="card_footer">
                <i class="bi bi-exclamation-triangle-fill danger"></i>
                <p>Ganhe mais espaço</p>
            </div>
        </div>
    </div>
    <div class="cards col-md-3">
        <div class="card">
            <div class="card_title">
                <div class="card_header icon-grafico">
                    <img src="assets/images/grafico.svg" alt="">
                </div>
                <div class="card_status">
                    <p class="card_name">Visitas ao site</p>
                    <p class="card_stats">75.52</p>
                </div>
            </div>
            <div class="card_footer">
                <i class="bi bi-bookmarks"></i>
                <p>Google Analytics</p>
            </div>
        </div>
    </div>
    <div class="cards col-md-3">
        <div class="card">
            <div class="card_title">
                <div class="card_header icon-loja">
                    <img src="assets/images/loja.svg" alt="">
                </div>
                <div class="card_status">
                    <p class="card_name">Vendas</p>
                    <p class="card_stats">R$ 34,24</p>
                </div>
            </div>
            <div class="card_footer">
                <i class="bi bi-receipt"></i>
                <p>Ultimas 24 horas</p>
            </div>
        </div>
    </div>
    <div class="cards col-md-3">
        <div class="card">
            <div class="card_title">
                <div class="card_header icon-redes">
                    <img src="assets/images1/graduated.svg" alt="">
                </div>
                <div class="card_status">

                    <p class="card_name">Alunos</p>
                    <p class="card_stats">+245</p>
                </div>
            </div>
            <div class="card_footer">
                <i class="bi bi-arrow-clockwise"></i>
                <p>Atualize</p>
            </div>
        </div>
    </div>
</div>


<h1 class="title">Gerenciar listagens</h1>
<div class="row spaccing">
    <div class="cards w-md-4">
        <div class="card card_sale">
            <div class="card_image">
                <img src="assets/images1/5.jpg" alt="">
            </div>
            <div class="card_body card_text">
                <div class="card_actions">
                    <i class="bi bi-file-earmark-richtext normal"></i>
                    <i class="bi bi-pencil-fill success"></i>
                    <i class="bi bi-x-lg danger"></i>
                </div>
                <h4>Angular</h4>
                <p class="card_description">
                    O Angular é um framework front-end robusto e completo, desenvolvido pela Google. Ele oferece um
                    sistema de componentes altamente modular, suporte a injeção de dependência e uma arquitetura MVC
                    para a construção de aplicativos web escaláveis. Sua estrutura permite a criação de páginas de curso
                    interativas e dinâmicas
                </p>
            </div>
            <div class="card_footer card_value_location">
                <div>
                    <h5>R$ 200,00</h5>
                </div>
                <div class="card_location">
                    <i class="bi bi-clock-history"></i>
                    <p>20 horas</p>
                </div>
            </div>
        </div>
    </div>
    <div class="cards w-md-4">
        <div class="card card_sale">
            <div class="card_image">
                <img src="assets/images1/6.jpg" alt="">
            </div>
            <div class="card_body card_text">
                <div class="card_actions">
                    <i class="bi bi-file-earmark-richtext normal"></i>
                    <i class="bi bi-pencil-fill success"></i>
                    <i class="bi bi-x-lg danger"></i>
                </div>
                <h4>React</h4>
                <p class="card_description">O React, mantido pelo Facebook, é uma biblioteca JavaScript para a criação
                    de interfaces de usuário. Ele oferece uma abordagem baseada em componentes e uma atualização
                    eficiente do DOM, resultando em páginas de curso altamente responsivas. Com a vasta comunidade e o
                    ecossistema de pacotes, o React é uma escolha sólida para projetos de todas as escalas</p>
            </div>
            <div class="card_footer card_value_location">
                <div>
                    <h5>R$ 350,00</h5>
                </div>
                <div class="card_location">
                    <i class="bi bi-clock-history"></i>
                    <p>15 horas </p>
                </div>
            </div>
        </div>
    </div>
    <div class="cards w-md-4">
        <div class="card card_sale">
            <div class="card_image">
                <img src="assets/images1/7.jpg" alt="">
            </div>
            <div class="card_body card_text">
                <div class="card_actions">
                    <i class="bi bi-file-earmark-richtext normal"></i>
                    <i class="bi bi-pencil-fill success"></i>
                    <i class="bi bi-x-lg danger"></i>
                </div>
                <h4>Vue</h4>
                <p class="card_description">O Vue.js é uma estrutura progressiva para construção de interfaces de
                    usuário. Ele combina características do Angular e do React, oferecendo uma curva de aprendizado
                    suave e uma integração fácil em projetos existentes. Com sua sintaxe simples, é ótimo para criar
                    páginas de curso interativas e reativas.</p>
            </div>
            <div class="card_footer card_value_location">
                <div>
                    <h5 class="viage-value">R$ 250,00</h5>
                </div>
                <div class="card_location">
                    <i class="bi bi-clock-history"></i>
                    <p>10 horas</p>
                </div>
            </div>
        </div>
    </div>
</div>