<!-- <header *ngIf="mostrarMenu">
    <h2>Angular Forms</h2>
    <ul>
        <li>
            <a routerLink="/">Home</a>
        </li>
        <li>
            <a routerLink="/cursos">Cursos</a>
        </li>
        <li>
            <a routerLink="/rxjs-poc">RXjS-POC</a>
        </li>
        <li>
            <a routerLink="/upload">Arquivo</a>
        </li>
        <li>
            <a routerLink="/busca-reativa">Pesquisa Reativa</a>
        </li>
    </ul>
</header> -->
<header *ngIf="mostrarMenu">
    <h2>Angular Forms</h2>
    <ul>
        <li>
            <a routerLink="/cursos">Cursos</a>
        </li>
        <li>
            <a routerLink="/rxjs-poc">RXjS-POC</a>
        </li>
        <li>
            <a routerLink="/upload">Arquivo</a>
        </li>
        <li>
            <a routerLink="/busca-reativa">Pesquisa Reativa</a>
        </li>
    </ul>
</header>