* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: montserrat;
}

.success {
    color: #28a745;
}

.danger {
    color: #dc3545;
}

.warning {
    color: #ffc107;
}

.info {
    color: #6c757d;
}


.mat-form-field {
    margin-bottom: 15px;
    width: 100%;
}



.spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    font-family: sans-serif;

    .mat-spinner {
        width: 32px;
        /* Tamanho desejado do spinner */
        height: 32px;
    }
}

.card__footer {
    padding: 10px;
}

.btn-red {
    background-color: #073042;
    color: white;
    text-transform: initial;
    font-size: 15px;

    &:hover {
        background-color: #073042d6;
        color: white;

    }

    &:active:focus {
        background-color: #4d6e7d;
        transition: 3ms all ease-in-out;
        color: white;
    }

    &::after {
        position: absolute;
        z-index: -1;
        background-color: #663dff;
        border-radius: 5px;
        box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
            7px 7px 20px 0px rgba(0, 0, 0, .1),
            4px 4px 5px 0px rgba(0, 0, 0, .1);
        transition: all 0.2s ease;
    }
}



.card__actions {
    text-align: start;

    a {

        margin-right: 10px;
        font-size: 18px;
        cursor: pointer
    }

}

.cardFooter {
    display: flex;
    justify-content: space-between;
    align-items: center
}

ul {
    margin: 0;
    padding: 0;
}

.my-custom-dialog {
    .mat-dialog-container {
        padding: 0 !important;
    }
}

.divider {
    border-bottom: 0.1em solid #ffffff59;
    width: 100%;
}